<po-page-list p-title="Admin. Agendamentos" [p-filter]="filterSettings">
  <po-list-view
    p-property-title="carro"
    [p-actions]="listActions"
    [p-items]="items"
    [p-literals]="customLiterals"
  >
    <ng-template p-list-view-content-template let-item>
      <div class="po-row">
        <po-tag
          *ngIf="item.status === 'confirmado'"
          class="po-sm-6 po-md-3"
          p-label="Status"
          p-icon="true"
          p-type="success"
          p-value="Confirmado"
          p-tooltip="Está confirmado, o serviço será feito!"
          p-tooltip-position="bottom-left"
        >
        </po-tag>
        <po-tag
          *ngIf="item.status === 'concluido'"
          class="po-sm-6 po-md-3"
          p-label="Status"
          p-icon="true"
          p-type="info"
          p-value="Concluído"
          p-tooltip="Oo serviço já foi feito!"
          p-tooltip-position="bottom-left"
        >
        </po-tag>
        <po-tag
          *ngIf="item.status === 'pendente'"
          class="po-sm-6 po-md-3"
          p-label="Status"
          p-icon="true"
          p-type="warning"
          p-value="Pendente"
          p-tooltip="Estamos verificando seu pedido!"
          p-tooltip-position="bottom-left"
        >
        </po-tag>
        <po-tag
          *ngIf="item.status === 'cancelado'"
          class="po-sm-6 po-md-3"
          p-label="Status"
          p-icon="true"
          p-type="danger"
          p-value="Cancelado"
          p-tooltip="Esta agenda foi cancelada, não faremos o serviço!"
          p-tooltip-position="bottom-left"
        >
        </po-tag>

        <po-info
          class="po-sm-6 po-md-3"
          p-label="Tipo"
          [p-value]="item.tipo"
        ></po-info>
        <po-info
          class="po-sm-6 po-md-3"
          p-label="Data"
          p-value="{{ item.data | date }}"
        ></po-info>
        <po-info
          class="po-sm-6 po-md-3"
          p-label="Hora"
          [p-value]="item.hora"
        ></po-info>
      </div>
    </ng-template>
  </po-list-view>
  <div>
    <po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>
  </div>
</po-page-list>
